<div id="service">
  <div id="service_summary">
    Intitulé: Réservation de {{ invoice.contract.weekly }}h hebdomadaires {% if invoice.contract.room_type._name_ == "individual" %}d'un cabinet individuel{% else %}de la salle collective{% endif %}, durant le mois de {{ locale_month }} {{ locale_year }}
  </div>

  <div id="service_details">
    <table>
      <thead>
        <tr>
          <th>Quantité</th>
          <th>Désignation</th>
          <th>Prix unitaire</th>
          <th>Prix total TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            {{ invoice.contract.weekly_hours }}h hebdomadaire{% if invoice.contract.weekly_hours > 1 %}s{% endif %} d'occupation {% if invoice.contract.room_type._name_ == "individual" %}d'un cabinet individuel{% else %}de la salle collective{% endif %}
          </td>
          <td>{{ invoice.contract.recurring_pricing.monthly_price }}</td>
          <td>{{ invoice.total_price }}</td>
        </tr>
        <tr id="invoice_total">
          <td>
            TOTAL
          </td>
          <td colspan="2"></td>
          <td id="invoice_price">
            {{ invoice.total_price }} {{ invoice.symbol }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
