Bonjour {{ invoice.client.first_name }},

Tu trouveras attachée à ce mail ta facture de {{ invoice.period }} pour {% if invoice.bookings | length > 1 %}tes réservations{% else %}ta réservation{% endif %} au Grand Cèdre.

En te souhaitant une bonne réception.

--
Clémentine