<!doctype html>
<html lang='fr'>
  <head>
    <meta charset="utf-8">

    <link href="../static/invoice.css" rel="stylesheet" />
    <title>Grand Cèdre - Facture {{ invoice.contract.client.full_name }} - {{ locale_issue_date }}</title>
    <meta name="description" content="Facture Grand Cèdre {{ locale_issue_date }}">
    <meta name="author" content="Clémentine Barthélémy">
  </head>

  <body>
    <aside>
      <img src="../static/logo-small.jpg" />
      <address id="from">
        Le Grand Cèdre
        Clémentine Barthélemy
        20 rue Carnot
        71100 Chalon sur Saône

      <div id="siret">
        Siret 42171292800033 APE 9604Z
        Dispensé d'immatriculation au registre du commerce
        et des sociétés RCS et au répertoire des métiers RM
      </div>
      </address>

      <address id="to">
        {{ invoice.contract.client.full_name }}
        {{ invoice.contract.client.address }}
        {{ invoice.contract.client.zip_code }} {{ invoice.contract.client.city }}
      </address>
    </aside>

    <div id="invoice_date">
      Chalon sur Saône, le {{ locale_issue_date }}
    </div>

    <h1 id="invoice_number">
      FACTURE N°{{ invoice.number }}
    </h1>

    {% if invoice.contract.type == "flat_rate" %}
    {% include "invoice_flat_rate_block.html.j2" %}
    {% else %}
    {% include "invoice_service_block.html.j2" %}
    {% endif %}

    <div id="vat_mention">
      TVA non applicable, art.993 B du CGI
    </div>

    <footer>
      <div id="footer_address">Clémentine Barthélemy - Le Grand Cèdre – 20 rue Carnot - 71100 Chalon sur Saône</div>
      <div id="footer_siret">Siret 42171292800033 APE 9604Z</div>
    </footer>
  </body>
</html>