<!doctype html>
<html lang='fr'>
  <head>
    <meta charset="utf-8">

    <link href="../static/invoice.css" rel="stylesheet" />
    <title>Grand Cèdre - Facture {{ invoice.contract.client.full_name }} - {{ locale_issue_date }}</title>
    <meta name="description" content="Facture Grand Cèdre {{ locale_issue_date }}">
    <meta name="author" content="Clémentine Barthélémy">
  </head>

  <body>
    <aside id="invoice-details">
      <img src="../static/logo-small.jpg" />

      <div id="invoice-title-date">
        <h1 id="invoice_number">
          FACTURE PROFORMA
          N° {{ invoice.number }}
        </h1>

        <div id="invoice_date">
          Chalon-sur-Saône, le {{ locale_issue_date }}
        </div>
      </div>
    </aside>

    <aside id="addresses">
      <address id="from">
        <em>Émetteur:</em>
        <b>Clémentine Barthélemy</b>
        Le Grand Cèdre
        20 rue Carnot
        71100 Chalon-sur-Saône
        03 85 94 08 52
      </address>

      <address id="to">
        <em>Adressée à:</em>
        {{ invoice.contract.client.full_name }}
        {{ invoice.contract.client.address }}
        {{ invoice.contract.client.zip_code }} {{ invoice.contract.client.city }}
      </address>
    </aside>

    {% if invoice.contract.type == "flat_rate" %}
    {% include "invoice_flat_rate_block.html.j2" %}
    {% elif invoice.contract.type == "recurring" %}
    {% include "invoice_recurring_block.html.j2" %}
    {% else %}
    {% include "invoice_service_block.html.j2" %}
    {% endif %}

    <div id="vat_mention">
      TVA non applicable, art.993 B du CGI
    </div>

    <footer>
      <div id="footer_address">Clémentine Barthélemy - Le Grand Cèdre – 20 rue Carnot - 71100 Chalon-sur-Saône</div>
      <div id="footer_siret">Siret 42171292800033 APE 9604Z</div>
    </footer>
  </body>
</html>